
body{
    margin: 20px;
    padding: 20px;
    background-color: #1C2333;


}


form{
    background-image: url(https://i.pinimg.com/564x/22/80/ba/2280bacf5cedd69b960552c9a8a6045c.jpg);
    height: 600px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 8px solid green;
    
}
#ContenedorCalculadora{
 /*   background-color: rgb(100, 100, 100);*/
    color: rgb(16, 141, 16);

}
.aalert alert-primary {
    color: #75c41a; /* color interno del acordeon */
}
#botonFirst{
    color: #000000;
    background-color:   #F8AF78;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    margin-top: 20px;
    margin-left: 160px;
    width: 200px;     /* Ancho del botón */
    padding: 10px;   
}

#resultado{
    color: #000000;
    background-color:#666E9A ;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    border-radius: 4px;
    border: none;
}
#ContenedorCalculadora {
    max-width: 600px; /* Ancho máximo */
    margin: 0 auto;   /* Centrar el contenedor */
    padding: 20px;    /* Añadir algo de espacio alrededor */
    background-color: #434768; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}